<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudyPlaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StudyPlaner.Properties.Settings>
            <setting name="COLOR_LECTURES" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="COLOR_EXERCISES" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="COLOR_TUTORIALS" serializeAs="String">
                <value>255, 42, 42</value>
            </setting>
            <setting name="COLOR_INTERNSHIPS" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="COLOR_FONT" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="COLOR_BRIGHTNESSFACTOR" serializeAs="String">
                <value>0.925</value>
            </setting>
            <setting name="COLOR_SELECTED" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
        </StudyPlaner.Properties.Settings>
    </userSettings>
</configuration>