<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Studyplaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Studyplaner.Properties.Settings>
            <setting name="USER_COLOR_BACKGROUND" serializeAs="String">
                <value>LightSlateGray</value>
            </setting>
            <setting name="USER_COLOR_LECTURE" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="USER_COLOR_EXERCISE" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="USER_COLOR_INTERNSHIP" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="USER_COLOR_TUTORIAL" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="USER_COLOR_CUSTOM" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="USER_LOGGING_ENABLED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USER_LOGGING_WRITETIME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USER_LOGGING_PATH" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="USER_LOGGING_TOCONSOLE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USER_LOGGING_TOFILE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USER_DATAPATH" serializeAs="String">
                <value>Data</value>
            </setting>
        </Studyplaner.Properties.Settings>
    </userSettings>
</configuration>